.header{
    background-color: red-50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em;
    color: black;
}
li{
    list-style-type: none;
}
.menuitems{
    display: flex;
    justify-content: center;
    align-items:center ;
    gap: 1em;
}